@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(164deg, rgba(59,54,143,1) 0%, rgba(92,44,203,1) 11%, rgba(121,9,43,1) 54%, rgba(235,94,11,1) 94%, rgba(255,163,0,1) 98%);
    display: grid;
    place-items: center;
    /* position: relative; */
}

.game-info{
    color: white;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1; /* to make it square shape */
}

.box{
    cursor: pointer;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box3, .box6{
    border-bottom: 2px solid white;
}

.box7, .box8{
    border-right: 2px solid white;
}

.btn{
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    display: none;
    cursor: pointer;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}


@media screen and (max-width: 768px){
    .wrapper{
        padding: 2rem;
    }
    .game-info{
        top: 2rem;
        left: 7rem;
        transform: none;
        padding: 0.5rem 1rem;
    }
    .tic-tac-toe{
        padding: 1rem;
    }
    .btn{
        position: static;
        transform: none;
        padding: 0.5rem 1rem;
    }
}
